body {
  font-family: 'Walter Turncoat', cursive;
  text-align: center;
  background: linear-gradient(to right, 
  #e91e63, #9c27b0, 
    #2196f3, #00bcd4, #4caf50, #ff9800);
  /* Degradado multicolor con 9 colores para un estilo vibrante */
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  /* Animación para mover el fondo */
  color: #e0b3ff;
  /* Texto violeta claro neón */
  font-weight: bold;
  text-shadow: 0 0 6px #b266ff;
  /* Brillo sutil al texto */
}

/* Animación del degradado */
@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

h1, h2, h3, p {
  color: #e0b3ff;
  /* Texto con el mismo tono de violeta claro neón */
  text-shadow: 0 0 6px #b266ff, 0 0 10px #b266ff;
  /* Sombra sutil para hacer resaltar el texto */
}

a {
  color: #39FF14;
  /* Enlaces de color verde neón */
  text-decoration: none;
  /* Sin subrayado en los enlaces */
}

a:hover {
  color: #ff00ff;
  /* Cambio de color en hover a un tono fucsia vibrante */
  text-shadow: 0 0 8px #ff00ff;
  /* Efecto de resplandor al pasar el ratón sobre el enlace */
}

.button:hover {
  background-color: #39FF14;
  /* Cambia a verde neón al pasar el ratón */
}


/* Bloquea el scroll en el body */
.no-scroll {
  overflow: hidden;
}

.header-image {
  width: 25%;
  height: auto;
  display: block;
  margin: -3px auto 0; /* Sube la imagen ajustando el margen superior */
}

h1 {
  color: black;
}

.container {
  display: flex;
  flex-wrap: wrap;
  /* Permite que los elementos se envuelvan a una nueva fila */
  justify-content: center;
  /* Centra las áreas horizontalmente */
  gap: 30px;
  /* Reduce aún más el espacio entre las áreas */
}
/* Estilo para los nombres de las áreas */
.area .label {
  font-size: 1.9em;
  /* Ajusta este valor según el tamaño deseado */
  font-weight: bold;
  /* Opcional, si deseas que el texto sea más grueso */
}

/* Si deseas que cada área tenga un tamaño diferente de fuente */
.area.pacha .label,
.area.lounge .label,
.area.parrales .label,
.area.cholet .label,
.area.Vip .label,
.area.extras .label,
.area.camel .label {
  font-size: 1.5em;
  /* Aquí puedes poner el tamaño que prefieras */
  color: white;
}

/* También puedes agregar otros estilos como color o letra */
.area .label {
  color: black;
  /* Ejemplo: Cambiar el color de las etiquetas */
  text-transform: uppercase;
  /* Cambiar el texto a mayúsculas */
}
.area {
  max-width: 520px;  /* Ajusta el tamaño máximo para que no se estire demasiado */
  border: 1px solid #6b6666;
  border-radius: 30px;
  padding: 19px;
  outline: 2px solid black;
  box-sizing: border-box;
  font-size: 0.9em;
}


.stickers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sticker {
  width: 100px;
  height: 100px;
  margin: 10px;
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.sticker img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sticker-number {
  position: absolute;
  top: 0px;
  left: 50px;
  transform: translateX(-50%);
  color: white;
  font-weight: bold;
  background-image: linear-gradient(to bottom, rgba(18, 18, 18, 1), rgba(0, 0, 0, 0.8));
  padding: 2px 5px;
  border: 1px solid gray;
  outline: 2px solid black;
}

.sticker-quantity {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  color: #30d614;
  font-weight: bold;
  padding: 0;
  /* Cambiar a 0 para eliminar cualquier espacio */
  border-radius: 0;
  /* Cambiar a 0 si no quieres esquinas redondeadas */
  background-color: transparent;
  /* Asegúrate de que el fondo sea transparente */
}


.sticker-name {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-weight: bold;
  background-image: linear-gradient(to bottom, rgba(18, 18, 18, 1), rgb(47, 110, 142, 0.8));
  padding: 2px 5px;
  border-radius: 5px;
  display: none;
}

#top-left-sticker {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  width: 50px;
}

#top-left-sticker img {
  width: 100%;
  height: auto;
}

.side-menu {
  position: fixed;
  top: 0;
  left: -400px; /* Inicialmente fuera de la vista */
  width: 250px;
  height: 200px;
   background: linear-gradient(to right, 
    #e91e63, #9c27b0, 
      #2196f3, #00bcd4, #4caf50, #ff9800);
  /* Degradado de 9 colores vibrantes al estilo discoteca */
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite; /* Animación para mover el fondo */
  color: white;
  padding: 20px;
  transition: left 0.9s ease; /* Deslizar horizontalmente */
  z-index: 1001;
  box-shadow: 2px 0 10px rgb(245, 245, 245, 0.5);
  border-radius: 7px;
}

/* Animación del degradado */
@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


.side-menu.open {
  left: 0; /* Posición visible */
}

.side-menu h2 {
  margin-top: 0;
}

.side-menu ul {
  list-style-type: none;
  padding: 0;
}

.side-menu li {
  padding: 10px 0;
}

/* Estilos para el modal */
.modal {
  display: none;
  /* Oculto por defecto */
  position: fixed;
  /* Fijo en la pantalla */
  z-index: 1000;
  /* Asegúrate de que esté en la parte superior */
  left: 0;
  top: 0;
  width: 100%;
  /* Ancho completo */
  height: 100%;
  /* Alto completo */
  color: white;
  /* Color de texto blanco */
}

/* Contenedor del modal con contenido desplazable */
.modal-content {
   background: linear-gradient(to right, 
    #e91e63, #9c27b0, 
      #2196f3, #00bcd4, #4caf50, #ff9800);
  /* Degradado multicolor con 9 colores al estilo discoteca */
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  /* Animación para mover el fondo */
  top: 7px; /* Ajusta el valor para mover el modal hacia arriba */
  padding: 8px; /* Espaciado interno */
  color: #e0b3ff; /* Color de texto violeta claro neón */
  width: 1321px; /* Ancho del modal */
  border-radius: 3px; /* Bordes redondeados */
  border: 2px solid #4c0070; /* Borde violeta oscuro */
  text-align: center; /* Centrar el contenido */
  max-height: 637px; /* Establece una altura máxima */
  overflow-y: auto; /* Permite el desplazamiento vertical dentro del modal */
  padding-right: 15px; /* Espacio extra para la barra de desplazamiento */
}

/* Animación del degradado */
@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


@media (max-width: 480px) {
  .modal-content {
    width: 396px;
    max-height: 803px;
    padding: 5px; /* Reducimos el padding para más espacio */


  }
}
/* Estilo para la X de cierre del modal */
.close {
  color: #aaa;
  /* Color de la 'X' */
  float: right;
  /* Alinear a la derecha */
  font-size: 28px;
  /* Tamaño de la 'X' */
  font-weight: bold;
  /* Negrita */
}

/* Opcional: Personalización de la barra de desplazamiento */
.modal-content::-webkit-scrollbar {
  width: 10px;
  /* Ancho de la barra de desplazamiento */
}

.modal-content::-webkit-scrollbar-thumb {
  background-color: #3498db;
  /* Color de la barra de desplazamiento */
  border-radius: 10px;
  border: 2px solid #2c3e50;
  /* Borde alrededor de la barra */
}

.modal-content::-webkit-scrollbar-track {
  background: #2c3e50;
  /* Fondo de la pista */
  border-radius: 10px;
}

/* Si se prefiere barras de desplazamiento más discretas en Firefox */
.modal-content {
  scrollbar-color: #3498db #2c3e50;
  /* Color de la barra y pista en Firefox */
  scrollbar-width: thin;
  /* Barra de desplazamiento más delgada */
}

.close:hover,
.close:focus {
  color: black;
  /* Color al pasar el mouse */
  text-decoration: none;
  /* Sin subrayado */
  cursor: pointer;
  /* Cursor de mano */
}


@media (max-width: 480px) {
  .modal-content {
    width: 100vw;           /* Ocupa todo el ancho de la pantalla */
    height: 100vh;          /* Ocupa todo el alto de la pantalla */
    padding: 10px;
    overflow-y: auto;
    box-sizing: border-box;
  }
}

/* Estilo para la X de cierre del modal */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Personalización de la barra de desplazamiento */
.modal-content::-webkit-scrollbar {
  width: 10px;
}

.modal-content::-webkit-scrollbar-thumb {
  background-color: #3498db;
  border-radius: 10px;
  border: 2px solid #2c3e50;
}

.modal-content::-webkit-scrollbar-track {
  background: #2c3e50;
  border-radius: 10px;
}

/* Scrollbar en Firefox */
.modal-content {
  scrollbar-color: #3498db #2c3e50;
  scrollbar-width: thin;
}

/* Estilos de tabla */
.table {
  color: white;
  /* Color de texto blanco */
  width: 85%;
  /* Ancho del 85% */
  border-collapse: collapse;
  /* Colapsar bordes */
  margin: 10px auto;
  /* Espacio superior y centrar horizontalmente */
  background-color: transparent;
  /* Color de fondo general */
  border-radius: 19px;
  /* Esquinas redondeadas */
  overflow: hidden;
  /* Para asegurar que el borde redondeado se aplique correctamente */
}

.table th,
.table td {
  border: 1px solid #4c0070;
  padding: 8px;
  background: linear-gradient(135deg, #1a1a2e, #3f0d3e);
  color: #e0b3ff;
  font-weight: bold;
  text-shadow: 0 0 4px #b266ff;
}

.table th {
  background-color: transparent;
  color: white;
  text-align: center;
}

.table th:nth-child(1) {
  text-align: left;
}

.table th:nth-child(2) {
  text-align: right;
}

.table td:nth-child(1) {
  text-align: left;
}

.table td:nth-child(2) {
  text-align: right;


}


/* Responsive para pantallas pequeñas */
@media (max-width: 768px) {
  .table {
    width: 100%;
    margin: 0 auto;
  }

  .table th, .table td {
    font-size: 14px;
  }
}

#side-menu ul li img {
  margin-right: 8px;
  /* Espacio entre el ícono y el texto */
}

/* Estilos para dispositivos móviles */
@media (max-width: 740px) {
  .container {
    flex-direction: column;
    /* Cambia la dirección a columna */
    align-items: center;
    /* Centra el contenido */
  }

  .area,
  .camel {
    width: 90%;
    /* Ancho adecuado para móviles */
    margin: 25px auto;
    /* Espaciado entre áreas y centrado */
  }

  .header-image {
    width: 35%;
    /* Ajusta el tamaño de la imagen */
    margin-top: 12px;
    /* Ajusta el margen superior para bajar la imagen */
  }

  .sticker {
    position: relative;
    /* Asegúrate de que el sticker tenga posición relativa */
    width: 80px;
    height: 80px;
    overflow: visible;
    /* Permite que el contenido sobresalga */
  }

  .sticker-number {
    top: 0;
    /* Ajusta a 0 para evitar corte */
    left: 50%;
    transform: translateX(-50%);
    color: white;
  }

  .sticker-quantity {
    top: 30px;
    /* Ajusta la posición del número de cantidad */
    color: #30d614;
    /* Color amarillo */
    font-size: 12px;
    /* Ajusta este valor para cambiar el tamaño del número */
  }

  .porcentaje-container {
    width: 90%;
    /* Ancho para dispositivos móviles */
    padding: 15px;
    /* Espaciado interno reducido */
    margin: 20px auto;
    /* Margen centrado */
  }

  .porcentaje-area {
    flex-direction: column;
    /* Cambia a columna para apilar elementos */
    align-items: center;
    /* Centra los elementos */
    width: 100%;
    /* Asegura que ocupe todo el ancho */
  }

  .porcentaje-circle {
    width: 60px;
    /* Tamaño reducido para móviles */
    height: 60px;
    /* Tamaño reducido para móviles */
    font-size: 1em;
    /* Tamaño de fuente reducido */
  }

  /* Ajustes para las tarjetas en móviles */
  .card {
    width: 80%;
    /* Asegura que las tarjetas ocupen un buen ancho */
    margin: 8px auto;
    /* Espaciado entre tarjetas */
    padding: 10px;
    /* Reduce el espaciado interno */
    position: relative;
    /* Si necesitas ajustar algo más con top */
  }

  .card-title {
    font-size: 1.1em;
    /* Ajusta el tamaño del título */
  }

  .card-value {
    font-size: 1.3em;
    /* Ajusta el tamaño del valor */
  }


}


#ver-ganancias {
  display: flex;
  align-items: center;
  outline: 2px solid #ffffff;
  padding-left: 0;
  /* Elimina el padding */
  background-color: #1b242d;
  /* Cambia el color de fondo a blanco */
  color: #ffffff;
  /* Color del texto, ajustado para ser visible sobre fondo blanco */
  padding: 10px 15px;
  /* Espaciado interno */
  border-radius: 5px;
  /* Esquinas redondeadas */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  /* Sombra */
  cursor: pointer;
  /* Cambia el cursor al pasar sobre el "botón" */
  transition: background-color 0.3s;
  /* Efecto de transición al pasar el mouse */
  margin: 10px;
  /* Margen blanco alrededor del botón */
}

#ver-ganancias:hover {
  background-color: #2980b9;
  /* Color al pasar el mouse */
}

#opcion-1 {
  display: flex;
  align-items: center;
  outline: 2px solid #ffffff;
  padding-left: 0;
  /* Elimina el padding */
  background-color: #1b242d;
  /* Cambia el color de fondo a blanco */
  color: #ffffff;
  /* Color del texto, ajustado para ser visible sobre fondo blanco */
  padding: 10px 15px;
  /* Espaciado interno */
  border-radius: 5px;
  /* Esquinas redondeadas */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  /* Sombra */
  cursor: pointer;
  /* Cambia el cursor al pasar sobre el "botón" */
  transition: background-color 0.3s;
  /* Efecto de transición al pasar el mouse */
  margin: 10px;
  /* Margen blanco alrededor del botón */
}

#opcion-1:hover {
  background-color: #e0e0e0;
  /* Color de fondo al pasar el mouse, ajusta según necesites */
}


#opcion-1:hover {
  background-color: #95a5a6;
  /* Color gris más claro al pasar el mouse */
}

@keyframes flipVerticalIn {
  0% {
    transform: rotateX(90deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}

.modal.show {
  animation: flipVerticalIn 1s ease-out;
}

@keyframes flipVerticalOut {
  0% {
    transform: rotateX(0);
    opacity: 1;
  }
  100% {
    transform: rotateX(90deg);
    opacity: 0;
  }
}

.modal.hide {
  animation: flipVerticalOut 1s ease-in forwards;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  /* Espaciado entre tarjetas */
  margin-top: 20px;
}

.card {
   background: linear-gradient(to right, 
     #9c27b0, 
      #2196f3, #00bcd4, #ff9800);
    /* Degradado multicolor con 9 colores para un estilo vibrante */
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    /* Animación para mover el fondo */
    color: #e0b3ff;
  border-radius: 12px;
  /* Bordes más suaves */
  box-shadow: 0 4px 8px rgb(170, 19, 19, 0.15);
  padding: 18px;
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
 
}

.card:hover {
  transform: translateY(-8px);
  /* Elevación al pasar el cursor */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.25);
}

.otros-montos-list {
  display: none;
  overflow: hidden;
  transition: max-height 1.3s ease;
  max-height: 0;
}


.card-content {
  display: flex;
  flex-direction: column;
  /* Organizar el contenido verticalmente */
  align-items: flex-start;
  /* Alinear el contenido al inicio */

}

.card-title {
  font-weight: bold;
  /* Negrita para el título */
  font-size: 1.2em;
  /* Tamaño de fuente más grande */
  color: #ffffff;
  /* Color del texto */
}

.card-value {
  font-size: 1.5em;
  /* Tamaño de fuente más grande para el valor */
  color: #f2f2f2;
  /* Color del texto para el valor */
  margin-top: 5px;
  /* Espaciado superior */
}

.card-container {
  display: flex;
  /* Usar flexbox para organizar las tarjetas en línea */
  justify-content: space-around;
  /* Espacio uniforme entre las tarjetas */
  flex-wrap: wrap;
  /* Permitir que las tarjetas se muevan a la siguiente línea si no hay suficiente espacio */
  margin: 20px;
  /* Espacio alrededor del contenedor */
}

.porcentaje-container {

  border-radius: 20px;
  /* Bordes redondeados */
  padding: 20px;
  /* Espaciado interno */
  margin: 20px 0;
  /* Margen superior e inferior */

}

.porcentaje-area {
  display: grid;
  grid-template-columns: repeat(2, 800fr);
  /* Crear 4 columnas de igual tamaño */
  gap: 20px;
  /* Aumento el espacio entre los elementos */
  justify-items: center;
  /* Centra los elementos dentro de cada celda */
  align-items: center;
  /* Centra los elementos verticalmente */
}


.porcentaje-circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 7px solid #f1f2ed;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  color: #333;
  flex-shrink: 0; /* Fija el tamaño del círculo */
  min-width: 50px;
  min-height: 50px;
}

.porcentaje-circle::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  clip-path: inset(0 50% auto 0);
  background: conic-gradient(#00bcd4 var(--porcentaje),
      /* Color ocupado */
      transparent var(--porcentaje) 100%
      /* Color no ocupado */
    );
}

.card-credit {
  background-color: #000000;
  border: 1px solid #444;
  border-radius: 12px;
  padding: 20px;
  width: 300px;
  height: 150px;
  /* Asegúrate de que la tarjeta tenga suficiente altura */
  position: relative;
  /* Necesario para posicionar elementos internos */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  text-align: left;
  /* Alinear texto a la izquierda */
  margin: 20px auto;
}

.card-credit h2 {
  font-size: 22px;
  margin: 0;
  /* Eliminar el margen para un ajuste más preciso */
  color: #ffffff;
  position: absolute;
  /* Asegúrate de que esté posicionado absolutamente */
  top: 4px;
  /* Ajusta este valor hacia arriba */
  left: 10px;
  /* Mantener distancia desde la izquierda */
}


.card-credit .amount {
  font-size: 32px;
  font-weight: bold;
  color: #ffffff;
  position: absolute;
  /* Posición absoluta */
  bottom: 10px;
  /* Distancia desde el fondo */
  left: 10px;
  /* Distancia desde la izquierda */
}

.card-credit .account-number {
  font-size: 16px;
  color: #ffffff;
  position: absolute;
  /* Posición absoluta */
  top: 10px;
  /* Distancia desde la parte superior */
  right: 10px;
  /* Distancia desde la derecha */
}

.card-credit .total-label {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  position: absolute;
  /* Posición absoluta */
  top: 110px;
  /* Distancia desde la parte superior */
  left: 10px;
  /* Distancia desde la izquierda */
}

/* Media Queries para dispositivos móviles */
@media screen and (max-width: 767px) {
  .card-credit {
    width: 90%;
    /* Hacer que la tarjeta ocupe el 90% del ancho en móviles */
    height: auto;
    /* Ajustar la altura según el contenido */
    padding: 15px;
    /* Reducir el padding para adaptarse a pantallas pequeñas */
  }

  .card-credit h2 {
    font-size: 18px;
    /* Reducir tamaño de fuente */
    top: 10px;
    /* Ajustar posición */
    left: 10px;
  }

  .card-credit .amount {
    font-size: 2px;
    /* Reducir tamaño de la cantidad */
    bottom: 10px;
    left: 10px;
  }

  .card-credit .account-number {
    font-size: 14px;
    /* Reducir el tamaño de la fuente */
    top: 10px;
    right: 10px;
  }

  .card-credit .total-label {
    font-size: 16px;
    /* Reducir el tamaño de la etiqueta */
    top: 90px;
    /* Ajustar la posición */
  }
}

@media screen and (max-width: 480px) {
  .card-credit {
    width: 85%;
    /* Mantener la tarjeta un poco más pequeña */
    height: auto;
    /* Ajustar la altura automáticamente según el contenido */
    min-height: 160px;
    /* Asegurarse de que la tarjeta no se haga demasiado pequeña */
  }

  .card-credit h2 {
    font-size: 25px;
    margin-top: -15px;
    /* Ajustar el tamaño para pantallas aún más pequeñas */
  }

  .card-credit .amount {
    font-size: 45px;
    /* Ajustar la cantidad para pantallas pequeñas */
  }
  .card-credit .account-number {
    font-size: 20px;
    margin-top: 30px; /* Ajusta este valor según lo que necesites */
  }


  .card-credit .total-label {
    font-size: 18px;
    /* Reducir aún más el tamaño */
  }
}

#ganancias-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.tarjeta {
  background-color: #f0f0f0;
  border-radius: 15px;
  padding: 20px;
  width: 250px;
  height: 150px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.tarjeta h3 {
  font-size: 19px;
  /* Tamaño de letra aumentado */
  color: black;
  margin-bottom: 10px;
  font-weight: bold;
  /* Letras más gruesas */
}

.tarjeta p {
  font-size: 20px;
  /* Tamaño de letra aumentado */
  color: black;
  font-weight: bold;
  /* Letras más gruesas */
}

.tarjeta:hover {
  transform: scale(1.05);
}
.detalle-ventas {
  width: 100%; /* Usa el 100% del ancho disponible */
  max-width: 100%; /* Asegura que no se desborde */
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  overflow: hidden; /* Evita cualquier desbordamiento */
}

.ventas-table {
  width: 100%; /* Asegura que la tabla se ajuste al contenedor */
  table-layout: auto; /* Permite que las columnas se ajusten según el contenido */
  border-collapse: collapse; /* Elimina el espacio entre celdas */
}

.ventas-table th, .ventas-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
  font-weight: bold;
  font-size: 18px; /* Reduce el tamaño de la fuente para dispositivos móviles */
  color: #080808;
  background-color: #fafafa;
  word-wrap: break-word; /* Permite que las palabras largas se ajusten a la celda */
  overflow-wrap: break-word; /* Para asegurar que el contenido largo no se desborde */
}

.ventas-table th {
  background-color: #000000;
  color: #f6f4f4;
  font-weight: bold;
  font-size: 20px;
}

.ventas-table tr:nth-child(even) {
  background-color: yellow;
}

.ventas-table tr:hover {
  background-color: #c8a2c8; /* Lila al pasar el mouse */
}

/* Estilos específicos para dispositivos pequeños */
@media (max-width: 768px) {
  .ventas-table th, .ventas-table td {
    font-size: 18px; /* Reducir el tamaño de la fuente en pantallas pequeñas */
    padding: 8px; /* Menos padding para mejor ajuste */
  }
  .detalle-ventas {
    padding: 10px; /* Reducir el padding del contenedor en pantallas pequeñas */
  }
}

/* Estilos generales de los íconos */
.icono-tarjeta {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-top: 10px;
  float: left;
  font-weight: bold;
  /* Letras más gruesas */
}

/* Estilo específico para el ícono de 'Total Quantity' */
.icono-quantity {
  width: 50px;
  /* Tamaño ajustado */
  height: 50px;
  background-color: #f39c12;
  padding: 5px;
  border-radius: 50%;
}

/* Estilo específico para el ícono de 'Total Ganado' */
.icono-ganado {
  width: 50px;
  /* Tamaño ajustado */
  height: 50px;
  background-color: #f39c12;
  padding: 5px;
  border-radius: 50%;
}

/* Estilo específico para el ícono de 'Resultado Final' */
.icono-resultado {
  width: 55px;
  /* Tamaño ajustado */
  height: 55px;
  background-color: #d08691;
  padding: 5px;
  border-radius: 50%;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .icono-tarjeta {
    width: 40px; /* Reducir tamaño de los íconos */
    height: 40px;
    margin-right: 8px; /* Reducir margen */
    margin-top: 8px;
  }

  .icono-quantity, .icono-ganado, .icono-resultado {
    width: 40px; /* Ajustar el tamaño de los íconos */
    height: 40px;
    padding: 4px; /* Reducir el padding para ajustarse mejor */
  }
}
